/*Globales*/
html {
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Footer*/
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_integrantes {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}
