.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* altura completa */
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
}

.nav > li {
    position: relative;
}
.nav li {
    display: flex;
    align-items: center;
    gap: 5px; 
    padding: 10px 10px;
}

.nav li img {
    width: 30px;
    height: auto;
}

.nav > li > a,
.nav > li > span {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    cursor: pointer;
}

.nav > li:hover {
    background-color: #34495e;
}

.nav li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #34495e;
    min-width: 180px;
    display: none;
    z-index: 1000;
}

.nav li:hover > ul {
    display: block;
}


.nav li ul li a {
    color: white;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
}

.nav li ul li a:hover {
    background-color: #3e5871;
}

body {
    margin-left: 220px;
    padding: 20px;
    background-color: #f4f4f4;
}

.titulo{
    text-align: center;
    font-family: Arial, sans-serif;
}